/* Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.image_property {
    background-size: cover;
    background-position: center;
    background-color: lightgray;
    background-blend-mode: multiply;
    border-radius: .5rem;
}

.text_color_gray, .bot_text {
    color: #929292;
}

/* Debug */

.debug .site_header {
    height: 40px;
    background-color: wheat;
}

.debug .link_section {
    background-color: teal;
    height: 10px;
}

.debug .main_section {
    background-color: slategray;
    height: 150px;
}

.debug .secondary_section {
    background-color: cornflowerblue;
    height: 25px;
}

.debug .top {
    height: 70px;
}

.debug .bot {
    height: 100px;
}

/* Body */

body {
    margin: auto;
    width: 800px;
}

body * {
    margin-bottom: 10px;
}

/* Header */

.logo {
    height: 45px;
    padding-right: 1rem;
    border-right: 1px solid #e5e5e5;
}

.link_section {
    font-size: .6rem;
    margin-bottom: 20px;
}

a:link {
    text-decoration: none;
    margin-right: .3rem;
}

a:link, a:visited, a:hover, a:active {
    color: #929292;
}

/* Main Section */

.main_section {
    background-image: url(../img/banner.jpg);
    height: 300px;
    width: 100%;
}

.main_text {
    color: white;
    width: 60%;
    padding-left: 20px;
    padding-top: 25%;
    height: 80%;
}

.main_title {
    width: 100%;
}

.sub {
    display: block;
    width: 100%;
    font-size: .67em;
}

/* Middle Section */

.middle_section {
    padding: 0.5rem 0rem;
    margin-bottom: 0px;
}

.middle_text {
    font-size: 1.2rem;
    font-weight: 700;
}

.middle_subtext {
    display: block;
    font-size: .6rem;
}

/* Columns */

.columns {
    width: 100%;
}

.top.l_column, .top.r_column, .m_top.m_column {
    height: 160px;
}

.top, .m_top {
    float: left;
    width: 20%;
    margin-bottom: 10px;
}

.m_top {
    width: 55%;
    margin: 0px 2.5% 10px 2.5%;
}

.l_column, .r_column, .m_column {
    width: 100%;
    height: 160px;
    object-fit: cover;
    object-position: center;
    filter: brightness(.9);
}

p.bot_text {
    font-size: 10px;
}

/* footer */

.signature {
    color: cadetblue;
}

.site_footer {
    text-align: center;
}