/* Essentials */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* Debug */

.debug .site_header {
    height: 40px;
    background-color: wheat;
}

.debug .link_section {
    background-color: teal;
    height: 10px;
}

.debug .main_section {
    background-color: slategray;
    height: 150px;
}

.debug .secondary_section {
    height: 25px;
}

.debug .top {
    height: 70px;
}

.debug .bot {
    height: 100px;
}

/* Body */

body {
    padding: 1rem;
    margin: auto;
    width: 60%
}

body * {
    margin-bottom: 20px;
}

/* Header */

.logo {
    height: 45px;
    padding-right: 1rem;
    border-right: 1px solid #e5e5e5;
}

.link_section {
    margin-top: 10px;
    font-size: .6rem;
}

a:link {
    text-decoration: none;
    margin-right: .3rem;
}

a:link, a:visited, a:hover, a:active {
    color: #929292;
}

/* Main Section */

.main_section {}

.secondary_section {
    background-color: cornflowerblue;
}

aside {
    float: left;
    background-color: saddlebrown;
    width: 20%;
    margin-bottom: 10px;
}

.m_column {
    width: 55%;
    margin: 0px 2.5% 10px 2.5%;
}

.rounded, .top {
    /* border: 1px solid black; */
    border-radius: .25rem;
}

.signature {
    color: cadetblue;
}

.site_footer {
    text-align: center;
}